p{
	color: black;/*color: red !important;*/	
}

p#p3{
	/*
	Cor verde no css:
	Por palavra chave => color: green;
	Por formato RGB   => color: rgb(0,255,0) ;  red green blue
	Por hexadecimal   => color: 00FF00; red green blue
	
	binário - 0, 1
	hexadecimal - 0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F
	decimal - 0,1,2,3,4,5,6,7,8,9
	*/

	color: rgb(0,128,0);
}

h4, span{
	color: #FF0000;/*cor vermelha hexadecimal*/
}

.favoritos{
	color: purple;
	/*font-weight: bold;*/
}

.destaque{
	font-weight: bold;
}
