body{
	background-color: rgb(100,32,100);

	/*background-image: url("imagens/uninove2.jpg")!important;*/
	background-image: url("imagens/uninove-liberdade.jpg")!important;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: 100% 100%;
	background-size: contain;




}